<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {{ page.title }} | {{ site.title }}
  </title>

  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">

<script>
  window.MathJax = {
    tex: {
      inlineMath: [
        ['\\(', '\\)'],
        ['$', '$']
      ],
      displayMath: [
        ['\\[', '\\]'],
        ['$$', '$$']
      ]
    },
    svg: {
      fontCache: 'global'
    }
  };
</script>

<script
  async
  src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-svg.js">
</script>



</head>

<body>
  <header>
    <nav>
      <a href="{{ "/" | relative_url }}">Home</a>
        <a href="{{ "/research/" | relative_url }}">Research</a>
        <a href="{{ "/seminar/" | relative_url }}">∇ Seminar</a>
        <a href="{{ "/stuff/" | relative_url }}">Stuff</a>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>© {{ site.time | date: "%Y" }} {{ site.author }}</p>
  </footer>
</body>
</html>